<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- logoIconLink -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- fontAwosem -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Responsive-Navbar</title>
    <link rel="shortcut icon" href="image/weather-icon-png-16.png" type="image/png">

</head>

<body id="about-body">
    <header>
        <div class="navbar">
            <div class="logo">
                <i class="fa-solid fa-snowflake"></i> <a href="/"> Kamal </a><i class="fa-solid fa-snowflake"></i>
            </div>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About</a></li>

            </ul>
            <!-- <a href="" class="action-btn">Get Started</a> -->
            <div class="toggle-btn">
                <i class="fa-solid fa-bars"></i>

            </div>
        </div>

        <div class="dropdown-menu ">
            <li><a href="/">Home</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/about">About</a></li>

            <!-- <li><a href="#" class="action-btn">Get Started</a></li> -->
        </div>
    </header>
    <main>
        <section id="hero">
            <p>Welcome  to my world</p>
            <h1> I Am a Full-Stack Developer</h1>
            
            <li><a href="https://prafull-portfolio.netlify.app/" class="action-btn" target="_blank">About me</a></li>

           
        </section>
      
    </main>
     <!-- footer starts -->
     <footer class="footer">
        <p>Created with <span class="heart">🧡</span>by Prafull Kamal</p>
    </footer>

    <script>
        const togglebtn = document.querySelector('.toggle-btn')
        const toggleIcon = document.querySelector('.toggle-btn i')
        const dropdownmenu = document.querySelector('.dropdown-menu')

        togglebtn.onclick = function () {
            dropdownmenu.classList.toggle('open')

            const isOpen = dropdownmenu.classList.contains('open')

            toggleIcon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
        }
    </script>

</body>

</html>