<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- logoIconLink -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- fontAwosem -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Responsive-Navbar</title>
    <link rel="shortcut icon" href="image/weather-icon-png-16.png" type="image/png">

</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <i class="fa-solid fa-snowflake"></i> <a href="/"> Kamal </a><i class="fa-solid fa-snowflake"></i>
            </div>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About</a></li>

            </ul>
            <!-- <a href="" class="action-btn">Get Started</a> -->
            <div class="toggle-btn">
                <i class="fa-solid fa-bars"></i>

            </div>
        </div>

        <div class="dropdown-menu ">
            <li><a href="/">Home</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/about">About</a></li>

            <!-- <li><a href="#" class="action-btn">Get Started</a></li> -->
        </div>
    </header>
    <main>
        <div class="main_content">
            <form class="temp_form">
                <input type="text" id="cityName" placeholder="Enter City Name" autocomplete="off">
                <input type="submit" value="Search" id="submitBtn">
            </form>
        </div>
        <div class="tempInformation">
            <div class="top_layer">
                <p id="day">Tuesday</p>
                <p id="today_date"> <span id="datee">date</span><span id="monthss">m</span></p>
            </div>
            <div class="main_layer ">
                <p id="city_name">Get Output Here</p>
                <div class="middle_layer data_hide">
                    <p id="temp"><span id="temp_real_val">0</span> <span class="degree">o</span>C</p>
                    <p id="temp_status"> <i class="fa fa-cloud" area-hidden="true"></i> </p>
                </div>
            </div>
        </div>

    </main>
    <!-- footer starts -->
    <footer class="footer">
        <p>Created with <span class="heart">🧡</span>by Prafull Kamal</p>
    </footer>

    <script>
        const togglebtn = document.querySelector('.toggle-btn')
        const toggleIcon = document.querySelector('.toggle-btn i')
        const dropdownmenu = document.querySelector('.dropdown-menu')

        togglebtn.onclick = function () {
            dropdownmenu.classList.toggle('open')

            const isOpen = dropdownmenu.classList.contains('open')

            toggleIcon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
        }


        const d = new Date();
        document.getElementById("datee").innerHTML = d.getDate();


        const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        let month = months[d.getMonth()];
        document.getElementById("monthss").innerHTML = month;


        const days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
        let day = days[d.getDay()];
        document.getElementById("day").innerHTML = day;










    </script>
    <script src="/js/main.js"></script>

</body>

</html>